.table-hover tbody tr:hover > td {
  cursor: pointer;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper > .react-datepicker__input-container {
  width: 100%
}
.ant-calendar-picker {
  width: 100%
}
.ant-form-item-label {
  margin-bottom: 0px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
